{% extends parentTemp %}
{% block template -%}
  <div class="hd-col-container">
    <div class="margin-btm-16 flex-box-row">
      <el-button v-if="{{name}}_add" @click="handleCreate" type="primary" :size="unifiedSize">创 建</el-button>
    </div>
    <div style="height: 300px;flex:auto;">
      {% include "table.njk" %}
    </div>
    {% include "pagination.njk" %}
    <el-dialog v-dialog-drag :title="formDialogTitle" :visible.sync="formDialogVisible" :close-on-click-modal="false" @closed="handleFormDialogClosed">
      {% include "form.njk" %}
    </el-dialog>
  </div>
{%- endblock template %}
{% block script -%}
import crud from "@/mixins/crud.js";

export default {
    name: "table_{{name}}",
    mixins: [crud],
    data(){
        return {
            {{name}}_add: "",
            {{name}}_upd: "",
            {{name}}_del: "",
        };
    },
    created(){
        this.{{name}}_add = this.permissions[{{name}}_add];
        this.{{name}}_upd = this.permissions[{{name}}_upd];
        this.{{name}}_del = this.permissions[{{name}}_del];
    }
};
{%- endblock script %}

