<el-form
  v-if="formDisplay"
  :model="form"
  :rules="rules"
  ref="form"
  label-width="100px"
  :size="unifiedSize"
  :disabled="formDisabled"
>
{% for field in fields %}
  <el-form-item label="{{field.comment}}" prop="{{field.propertyName}}">
    <el-input
      v-model="form.{{field.propertyName}}"
      placeholder="{{field.comment}}"
      clearable
    ></el-input>
  </el-form-item>
{% endfor %}
<el-form-item>
  <el-button @click="cancel" :disabled="formDisabled">取 消</el-button>
  <el-button
    type="primary"
    @click="create"
    :loading="formDisabled"
    :disabled="formDisabled"
  >{% raw %}{{{% endraw %} formDisabled ? '正在提交' : '提 交' {% raw %}}}{% endraw %} </el-button>
</el-form-item>
</el-form>
