<el-table :data="tableData" v-loading="tableLoading" element-loading-text="给我一点时间" stripe="stripe" border="border" fit="fit" highlight-current-row="highlight-current-row" style="width: 100%;" height="100%" :size="unifiedSize" :row-key="row=>row.{{key.propertyName}}">
    {% for field in fields %}
        <el-table-column align="center" label="{{field.comment}}">
            <template slot-scope="{ row }">
                {% raw %}{{ row.{% endraw %}{{field.propertyName}}{% raw %} }}{% endraw %}
            </template>
        </el-table-column>
    {% endfor %}
    <el-table-column v-if="{{name}}_upd || {{name}}_del" align="center" fixed="right" label="操作" width="120">
        <template slot-scope="{ row }">
            <el-button v-if="{{name}}_upd" size="mini" type="text" @click="handleUpdate(row)">编辑</el-button>
            <el-button v-if="{{name}}_del" size="mini" type="text" @click="handleDelete(row.{{key.propertyName}})">删除</el-button>
        </template>
    </el-table-column>
</el-table>