<template>
  {% block template %}{% endblock template %}
</template>

<script>
  {% block script -%}
      export default {}
  {%- endblock script %}
</script>

<style lang="scss" scoped="scoped">
  {% block style -%}
  {%- endblock style %}
</style>
